@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    background-color: #fbfbfb;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(images/harold.jfif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.headerContainer{
    
    height: calc(100% - 100px);
    width: calc(100% - 60px); /* Full width minus 25px on each side */
    margin: 0 30px; /* Push it 25px from each side */
    padding: 0; /* Optional, unless you need internal padding */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.headerContainerContent {
    display: flex;
    width: 100%;
    height: 65%; /* or any desired height */
    min-height: 550px;
}
.navbar {
    background-image: linear-gradient(to bottom, #25857B, #40E0C0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}
.logo-container {
   height: 50px; /* Example height */
    width: 100px
}
.logo {
    height: 50px; /* Example height */
    width: 100px
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 32px;
    
}
/* Example hover effect */
.nav-links a:hover {
    color: #E04060;
}
.hamburger {
    font-size: 36px;
    cursor: pointer;
    
    
}
.headerContainerContentLeft{
    width: 35%;
    height: 100%;
    min-width: 900px;
    
}
.headerContainerContentLeft h1{
    font-size: 150;
    font-weight: 200;
    margin: 0;
    display: inline-block;
    line-height: 1;
    margin-bottom: 30px;
}
.headerContainerContentLeft h2{
    font-size: 32;
    font-weight: 600;
    margin: 0;
    width: 100%;
    margin-bottom: 25px;
}
.headerContainerContentLeft A{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    color: #E04060;
    text-decoration: none;
    position: relative;
    padding-right: 90px;
}

.headerContainerContentLeft a::after {
    content: '→';
    color: #E04060;
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    font-size: 70px;
}
.headerContainerContentLeft A:hover{
    
}
.headerContainerContentRight{
    width: 65%;
    height: 100%;
    
    
}
.headerContainerContentRightBoxContainers{
    
    width: 350px;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.headerContainerContentRightBox1{
    background-color: #E04060;
    width: 100%;
    flex: 1;
    border-radius: 25px;
    background: 
    linear-gradient(to top, #40E0C0, rgba(35, 122, 113, 0.1)) border-box,
    rgba(255, 255, 255, 0.2) padding-box;
  

  background-clip: padding-box, border-box;
  background-origin: border-box;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  color: #000;
  font-family: sans-serif;
  text-align: center;
}
.headerContainerContentRightBox2{
    background-image: linear-gradient(to bottom, #40E0C0, #25857B);
    width: 100%;
    flex: 1;
    margin-bottom: 50px;
    border-radius: 25px;
    text-align: center;
}
.headerContainerContentRightBox1Content{
    
    background-image: linear-gradient(to bottom, rgba( 255, 255, 255, 0.3), rgba( 255, 255, 255, 0.9));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 23.75px;
  
  margin: 0 auto;
  margin-top: 1.5%;
  height: 97%;
  width: 97%;
  display: flex;
  flex-direction: column;
}
.headerContainerContentRightBox2Content{
    display: flex;
  flex-direction: column;
  height: 95%;
}
.headerContainerContentRightBox1Content .icon {
    flex: 1;
    display: block;
    width: 80px;
    margin: 0 auto 10px auto;
    padding-top: 15px;
  }
  .headerContainerContentRightBox1Content h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #444444;
    flex: 1;
  }
  
  .headerContainerContentRightBox1Content p {
    font-size: 18px;
    text-align: center;
    color: #444444;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    flex: 2;
  }
  .headerContainerContentRightBox2 h3{
    padding-top: 15px;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    flex: 1;
  }
  .headerContainerContentRightBox2 .icon2{
    display: block;
    width: 66px;
    margin: 0 auto 0 auto;
    flex: 2;
  }
  .headerContainerContentRightBox2 p{
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
    flex: 1;
  }
   .headerContainerContentRightBox2 button{
    all: unset;
  cursor: pointer;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: 0.3s;
  margin-bottom: 10px;
  margin: 0 auto;
  
  }
  .headerContainerContentRightBox2 button:hover{
  background-color: #E04060;
  scale: 1.1;
  }
  .headerContainerContentRightBox2 button img{
    width: 80%;
    height: 80%;

  }
  .todays_recipe {
    height: fit-content;
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap:80px;
    margin-top: 50px;
  }
  
  .todays_recipes_content_block_image img {
      height:700px;
      width: 100%;
      background-size:cover;
      background-position: center;
      border-top-left-radius:5px;
      border-top-right-radius: 5px;
      object-position: center;
      object-fit: cover;
      position: absolute;
      z-index: -2;
      border-radius: 15px;
  }
  
  .colorLayer{
    height:700px;
      width: 100%;
      position: absolute;
      z-index: -1;
      background-image: linear-gradient(to bottom, rgba( 153, 153, 153, 0),rgba( 2, 159, 151, 1));
      border-radius: 15px;
  }
  
  
  .todays_recipes_headline {
    height:100px;
    
    font-size:96px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    
    
    padding: 0 0 20px 0;
    width:var(--width-12col);
    margin:70px 30px 50px 30px;  
  
    text-shadow: 1px 1px 1px var(--primary-color);
  }
  
  .todays_recipes_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
    height: fit-content;
    box-sizing: border-box;
    margin:30px auto 0 auto;
    width: calc(100% - 60px);
    margin: 0 30px;
  }
  
  .todays_recipes_content_block {
    background-color:var(--background-color-light);
    position:relative;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    box-shadow: 1px 1px 3px var(--background-color-dark-bg);
    height: 700px;
  }
  
  .todays_recipes_content_block_text_top h5 {
    font-size:40px;
    font-weight: 700; 
    text-transform:uppercase;
    margin: 0 0 0 20px;
    color: white;
  }
  
  .todays_recipes_content_block_text_top p {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20px;
    margin-top: 0;
    color: white;
    margin-bottom: 40px;
  }
  
  
  .todays_recipes_content_block_text {
    padding:00px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    color:var(--color_dark);
  }
  
  .todays_recipes_content_block_bottom_area {
    display:flex;
    justify-content: space-between;
    margin: 0px 0 20px 20px;
    border-left: 3px solid #40E0C0;
  }
  
  .todays_recipes_content_block_bottom_area_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
    
  }
  
  
  div[data-category="seafood"] {
    border-left: 1px solid white;
  }
  
  p[data-category="seafood"] {
    color: white;
  }
  
  div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
  }
  
  
  
  p[data-category="chicken"] {
    color: white;
  }
  
  div[data-category="pasta"] {
    border-left: 1px solid var(--category-pasta);
  }
  
  p[data-category="pasta"] {
    color: white;
  }
  
  div[data-category="misc"] {
    border-left: 1px solid var(--category-misc);
  }
  
  p[data-category="misc"] {
    color: white;
  }
  
  
  #chicken-icon {
    color: white;
  }
  
  .todays_recipes_content_block_bottom_area_left p {
    font-size:16px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .todays_recipes_content_block_bottom_area_right{

  }
  
  .todays_recipes_content_block_bottom_area_right button {
    background-color: #E04060;
    border: 1px solid var(--background-color-light);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding:10px 80px;
    cursor:pointer;
    margin-right: 20px;
    
  }
  
  .todays_recipes_content_block_bottom_area_right button a {
    color:var(--color-light);
    text-transform: uppercase;
    text-decoration: none;
    font-size:16px;
    width: 50%;
  }
  
  
  p [data-category="seafood"]
  {color:var (var--category-seafood)}

  .socialsSection{
    margin-top: 150px;
  }
  .socials{
    
    width: calc(100% - 60px); /* Full width minus 25px on each side */
    height: fit-content;
    margin: 0 30px; /* Push it 25px from each side */
    padding: 0; /* Optional, unless you need internal padding */
  }
 .socialShape{
  display: block;
  width: 100%;
  height: auto;
 }

 .searchbar{
  background: 
  linear-gradient(to top, #40E0C0, rgba(35, 122, 113, 0.1)) border-box,
  rgba(255, 255, 255, 0.2) padding-box;
  margin: auto auto;
  width: 50%;
  height: 75px;
  border-radius: 25px;
 }
 .searchbarContent{
  background-color: #fbfbfb;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  
  margin: 0 auto;
  margin-top: 0.5%;
  height: 85%;
  width: 99%;

 }
 .searchbarContent input{
  width: calc(100% - 20px);
  height: 99%;
  border-radius: 25px;
  border: none;
  font-size: 24px;
  margin-left: 10px;
 }
 .img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* Keeps it tight around the image */
}
.img-wrapper2 {
  position: relative;
  display: inline-block;
  width: 100%; /* Keeps it tight around the image */
}
 .searchbarContent input:focus{
  border: none;
  outline: none;
 }
 .socialsButton{
  position: absolute;
  top: 54%;         /* Position in center */
  left: 0px;
  
  padding: 20px 20px;
  border: 5px solid #E04060 !important;
  background-color: #fbfbfb;
  color: #E04060;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  width: 29%;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
 }
 .socialsButton::after {
  content: '→';
  color: #E04060;
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 70px;
}
.socialsButton2{
  position: absolute;
  top: 78%;         /* Position in center */
  right: 50px;
  
  padding: 10px 20px;
  border: 1px solid #444444 !important;
  background-color: #444444;
  color: #ffffff;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  width: 450px;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
 }
 .socialsButton2::after {
  content: '→';
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 70px;
}
.socialTitle{
  position: absolute;
  bottom: -139px;        /* Position in center */
  left: 0px;
  font-size: 96px;
  font-weight: 600;
  width: 50%;
  margin: 0;
}
  
.medlemSection{

width: calc(100% - 60px); /* Full width minus 25px on each side */
height: fit-content;
margin: 0 30px; /* Push it 25px from each side */
padding: 0; /* Optional, unless you need internal padding */
margin-top: calc(150px + 170px + 95px);
}
.medlemTitle{
  position: absolute;
  top: -95px;        /* Position in center */
  right: 0px;
  font-size: 96px;
  font-weight: 600;
  width: 56%;
  margin: 0;
}
.medlemsButton{
  position: absolute;
  bottom: 0;         /* Position in center */
  left: 10.66%;
  
  padding: 8px 20px;
  border: 5px solid #E04060 !important;
  background-color: #fbfbfb;
  color: #E04060;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  width: 21%;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
 }
 .medlemsButton::after {
  content: '→';
  
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 70px;
}

.medlemTextBox{
  width: 100%;
  height: 69%;
  position: absolute;
  top: 21.1%;         /* Position in center */
  left: 0;
}
.medlemTextBox ul{
  margin-left: 100px;
}
.medlemTextBox li{
color: white;
font-size: 75px;
font-weight: 400;
line-height: 1.1;
}

.nyhedsBrev{
  background-image: linear-gradient(to bottom, #40E0C0, #25857B);
  width: 100%; /* Full width minus 25px on each side */
  height: 600px;
  padding: 0; /* Optional, unless you need internal padding */
  margin-top: calc(150px + 170px + 95px);
  border-radius: 0 100px 100px 0;
}
.nyhedsBrevTitel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 96px;
  margin-bottom: 20px;
  color: white;
  margin-left: 30px;
  padding-top: 50px;
  width: 60%;
}

.newsletter-icon {
  width: 96px;
  height: 96px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  width: 45%;
}

.newsletter-form input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  height: 100px;
}

.newsletter-form button {
  background-color: #e44061;
  color: white;
  padding: 12px;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100px;
}

.newsletter-form button:hover {
  background-color: #cc3553;
}

footer{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to bottom, #009D84, #003734);
  margin-top: calc(150px + 170px + 95px);
  color: white;
  padding: 20px 0px 20px;
  
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  gap: 20px;
  text-align: center;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600px;
}

.footer-column p,
.footer-column address {
  margin: 0;
  line-height: 1.2;
  font-size: 33px;
  font-weight: 200;
  margin-top: 30px;
}

.footer-column a {
  color: white;
  text-decoration: underline;
}

.merch-img {
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 6px;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  font-size: 40px;
}
.footer-left-text{
  
}

.behandlinger{
  height: fit-content;
  padding: 0; /* Optional, unless you need internal padding */
  width: calc(100% - 60px); /* Full width minus 25px on each side */
  margin: 0 auto; /* Push it 25px from each side */
  margin-top: 150px;
}
.behandlingerText{
  
  width: 100%;
  height: 400px;
  text-align: center;
}
.behandlingerText h2{
font-size: 128px;
font-weight: bold;
margin: 0;
margin-bottom: 20px;
}
.behandlingerText p{
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto;
  width: 60%;
  }
  .behandlingsKat{
    display: flex;
    gap: 140px;
    margin-bottom: 50px;
  }
  .behandlingsKatLeft img{
    height: 550px;
    width: 550px;
    border-radius: 20px;
  }
  .behandlingsKatRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .behandlingsKatRight h3{
    font-size: 96px;
    font-weight: 600;
    margin: 20px 0;
  }
  .behandlingsKatRight p{
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    width: 85%;
  }
  .behandlingsKatRight button{
  background-color: #e44061;
  color: white;
  padding: 12px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  width: 250px;
  }
.scrollProgress{
  height: 15px;
  width: 450px;
  background-color: #76E0CB;
  border-radius: 15px;
}
.imageSlider{
  width: 100%;
  height: 400px;
  display: flex;
}
.imageSlider img{
  width: 25%; /* 100% / 4 images */
  height: 100%;
  object-fit: cover;
}
.events {
  width: 100%;
  height: 500px; /* Adjust this to whatever size you want */
  background-image: url('images/bowling2.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  -webkit-mask-image: url('#clip-mask');
  mask-image: url('#clip-mask');
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  display: none;
}
/*
.events svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 500px;
  background-color: blue;
  
}

.eventShape {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}
#bowlingSvg{
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/bowling2.png);
}*/
.eventList{
  width: calc(100% - 60px);
  height: fit-content;
  margin: 0 auto;
  margin-top: 200px;
}
.shapeImage{
  background-size: cover;
}

.svgSted{
  position: absolute;
  top: 220px;        /* Position in center */
  right: 0px;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  width: 350px;
  text-align: left;
}
.svgBowling{
  margin-bottom: 300px;
}
.svgBowling p{
  position: absolute;
  top: 330px;        /* Position in center */
  right: 116px;
  font-size: 40px;
  font-weight: 400;
  width: 700px;
}
.svgBowling h2{
  position: absolute;
  top: 414px;        /* Position in center */
  right: 116px;
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  width: 700px;
}
.svgBowling button{
  position: absolute;
  top: 390px;         /* Position in center */
  left: 60px;
  
  padding: 20px 20px;
  border: 2px solid none !important;
  background-color: #ffffff;
  color: #444444;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  width: 450px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

